<div class="row">
    <div class="col-md-10">
        <% flash.each do |m_t, m|%>
            <div class="alert alert-<%= m_t %>"> <%= m %>
                <a class="close" data-dismiss="alert">&#215;</a>
            </div>
        <% end %>
    </div>
    
</div>